extends ../layout

block content
  #poem-edit-header-panel
  #poem-edit-header(data-poem-id="#{poem.id}")
    h1= poem.name
    .poets
      each poet, index in poets
        .poet(data-poet-id="#{poet.id}") #{poet.name}
    form.newline-form(action="javascript:void(0)", data-poet-id="#{user.id}")
      input.line-text(type="text", size=100)
      input(type="submit", value="Post")
  #lines
    each line in lines
      include ../partials/line

  script(src="/socket.io/socket.io.js")
  script(src="/js/vendor/jquery-1.10.2.min.js")
  script(src="/js/partials.js")
  script(src="/js/poem/edit.js")
