extends ../layout

block content
  include ../partials/poet-color

  #poem-edit-header-panel
  #poem-edit-header(data-poem-id="#{poem.id}")
    h1= poem.name
    .poets
      each poet in poem.poets
        .poet(data-poet-id="#{poet.id}", class="#{poetColorClass(poet.id, poem.poets)}") #{poet.username}
    //.waitpanel Waiting for your turn ...
    form.hidde.newline-form(action="javascript:void(0)", data-poet-id="#{user.id}")
      input.line-text(type="text", size=100)
      input(type="submit", value="Post")
  #lines
    each line in poem.lines
      include ../partials/line

  script(src="/socket.io/socket.io.js")
  script(src="/js/vendor/jquery-1.10.2.min.js")
  script(src="/js/partials.js")
  script(src="/js/poems/edit.js")
